.blocsss {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 15px;
}

#titles {
    display: flex;
    justify-content: space-around;
}

.b1 {
    width: 32%;
    border: 1px solid #f0f0f0;
}

#les-stats {
    background-color: #fff;
    width: 100%;
}

#les-stats h1 {
    font-size: 20px;
}

.cercle {
    border: 15px solid #f0f0f0;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-content: center;
    margin: 0 auto;
    position: relative;
    top: 50px;
    padding: 10px 15px;
}

.b1 {
    height: 300px;
}